<%- include('partials/header') %>
<link rel="stylesheet" href="home.css" >
</head>
<body>
<%- include('partials/navbar') %> 
    <div style="display:flex ; justify-content: center;">
    <img  src="/uploads/<%=img%> " >
    </div>
    <%- include('partials/footer') %> 
</body>
</html>